
#uacf7-ai-form-button-popup, .uacf7_ai_search_button {
    background-color: #281266;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 2px;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal; 
    position: relative;
    top: -3px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
  }
  .uacf7_ai_search_button{
    margin: 0;
  }
  
.uacf7-form-ai-popup {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #00000047;
  z-index: 99999; 
  visibility: hidden;
  opacity: 0;
}
.uacf7-form-ai-popup.active { 
  visibility: visible;
  opacity: 1;
}
.uacf7-form-ai-popup .uacf7-form-ai-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.uacf7-form-ai-inner {
  width: 60%;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  display: flex;
 
}

.uacf7-form-ai-inner .uacf7-ai-form-column {
	width: 100%; 
	padding: 35px;
}
.uacf7-form-input  { 
	margin-bottom: 16px !important;
}
.uacf7-form-input > div { 
	margin-bottom: 0 !important;
}

.uacf7-form-ai-inner .close {
  position: absolute;
  cursor: pointer;
  height: 20px;
  width: 20px;
  right: 10px;
  top: 10px;
  text-align: center;
  transition: 0.4s;
  color: #ff1212;
}
.uacf7-form-ai-inner .choices {
  margin-bottom: 0 !important;
}

.uacf7-form-input-wrap {
  display: flex;
  gap: 8px;
}
.uacf7-form-input-wrap .uacf7-form-input-inner {
  width: 85%;
}
.uacf7-form-input-wrap h4 {
  width: 15%;
  font-size: 17px;
  line-height: 0;
  font-weight: 700;
}


#uacf7_ai_code_content {
  height: auto;
  width: auto;
  padding: 16px;
  min-height: 175px;
  width: 100%;
  border: 0;
  background-color: #000;
  color: #b9b7b7;
}
 


.uacf7-ai-codeblock {
  position: relative;
}

.uacf7-ai-codeblock {
  position: relative;
}
.uacf7-ai-navigation {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(52,53,65);
  width: 100%;
  color: rgba(217,217,227);
  text-align: right;
  border-radius: 4px 4px 0px 0px;
}
.uacf7-ai-navigation span {
  padding: 8px 10px;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
}
#uacf7_ai_code_content {
	padding-top: 45px;
}