
#uacf7-ai-form-button-popup {
    background-color: #281266;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 2px;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal; 
    position: relative;
    top: -3px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
  }