

#signature-canvas{
cursor: crosshair;
}

#clear-button {
  margin-top: 10px;
}

#uploadedImage{
  display: none!important;
}


/* @media screen and (min-width: 480px) {
  #signature-pad canvas {
    width: 100%!important;
  }
} */