/* #signature-pad{
  width: 100%;
  } */

  #signature-pad #signature-canvas{
  cursor: crosshair;

}

#clear-button {
  margin-top: 10px;
}

#uploadedImage{
  display: none!important;
}



 /* @media screen and (min-width: 480px) {
  canvas#signature-canvas {
    height: 200px;
    width: 100%;
}
}  */