/* .status-title,
.status-details {
    display: block;
    margin-top: 5px;
}

.status-success {
    color: rgb(0, 200, 0);
}
.status-error {
    color: rgb(255, 15, 15);
}
#uacf7_telegram_api_key {
	min-width: 315px;
	padding: 6px 10px;
}
.telegram_fields_row table td label {
	min-width: 230px;
	display: inline-block;
}
 */


 
/*Telegram Panel Styles Starts*/

#uacf7-telegram-panel{
    overflow: hidden!important;
  }
  
  #uacf7-telegram-panel .telegram_panel_wrapper .telegram_wrapper_first_col{
    width: 50%!important;
  }
  
  #uacf7-telegram-panel .telegram_panel_wrapper .telegram_wrapper_first_col .bot_title_and_status .chat_title_div{
    width:100%!important;
    overflow: hidden!important;
    display: inline-block;
  }
  
  #uacf7-telegram-panel .telegram_panel_wrapper .telegram_wrapper_first_col .bot_title_and_status .bot_title{
    width: 50%!important;
    float: left!important;
  }
  
  #uacf7-telegram-panel .telegram_panel_wrapper .telegram_wrapper_first_col .bot_title_and_status .bot_status{
    width: 50%!important;
    float: right!important;
    padding: 24px 0px!important;
   
  }
  #uacf7-telegram-panel .telegram_wrapper_first_col{
    width: 50%!important;
    float: left!important;
  }
  
  /* #uacf7-telegram-panel .telegram_wrapper_first_col .bot_token_input_box{
    margin-top: 10px!important;
  } */
  
  #uacf7-telegram-panel .telegram_wrapper_second_col{
    width: 50%!important;
    float: left!important;
  }
  
  
  #uacf7-telegram-panel fieldset input{
    width: 90%!important;
  }
  
  /*Bot Status Styles Strats*/
  #uacf7-telegram-panel .telegram_wrapper_first_col .check_bot.online .status:before {
      background: #037c09;
      box-shadow: 0 0 2px #037c09;
  }
  
  
  #uacf7-telegram-panel .telegram_wrapper_first_col .check_bot .status:before {
    content: ' ';
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  
  
  #uacf7-telegram-panel .telegram_wrapper_first_col .check_bot.offline .status:before {
    background: #df0c0c;
    box-shadow: 0 0 2px #df0c0c;
  }
  
  
  #uacf7-telegram-panel .telegram_wrapper_first_col .check_bot .status:before {
  content: ' ';
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 8px;
  }
  
  /*Bot Status Styles Ends*/
  
  /*Telegram Panel Styles Ends*/












  .hidden {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: none;
}
