.steps-form {
    display: table;
    width: 100%;
    position: relative;
}
.uacf7-step.step-content button.uacf7-prev,
.uacf7-step.step-content button.uacf7-next{
	margin-top: 5px
}
.uacf7-step.step-content.step-start button.uacf7-prev,
.uacf7-step.step-content.step-end button.uacf7-next,
.uacf7-step.step-content.step-end span.uacf7-ajax-loader {
    display: none !important
}
.uacf7-step span.uacf7-ajax-loader.is-active {
	visibility: visible
}

.steps-form .steps-row {
    display: table-row;
}

.steps-form .steps-row:before {
    top: 18px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem;
}

.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.steps-form .steps-row .steps-step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    border-radius: 50%;
    margin-top: 0;
    text-decoration: none;
    outline: 0;
    display: inline-block;
    position: relative;
}
.steps-form .steps-row .steps-step .btn-circle img {
/*    border-radius: 50% !important;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0
}
.uacf7-btn-default {
    color: #fff;
    background-color: #65ce92 !important;
}

.steps-form .steps-row .steps-step .btn-circle.uacf7-btn-active {
    color: #fff;
    background-color: #15a552 !important;
    outline: 0;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	transform: scale(1.1);
}

.steps-form .steps-row .steps-step .btn-circle:hover,
.steps-form .steps-row .steps-step .btn-circle:focus,
.steps-form .steps-row .steps-step .btn-circle:active {
    outline: 0;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #fff
}
.btn.btn-circle.uacf7-btn-default:not(.uacf7-btn-active) {
    /*pointer-events: none*/
}
