.uacf7-slidecontainer {
    width: 100%;
    position: relative;
  }
  
.uacf7-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.uacf7-slidecontainer::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #0ad80a;
  cursor: pointer;
}

.uacf7-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #3498db;
  cursor: pointer;
}
span.uacf7-value {
  float: right;
}
div.slider-range {
  margin: 15px 0;
}
input[type="range"]{
  padding: unset !important;
}
.uacf7-range-slider-style-wrapper {
  background: #fff;
  padding: 5px 30px 15px;
  margin: 15px auto;
  border: 1px solid #ccc;
  overflow: hidden;
}
.uacf7-range-slider-style-wrapper .col{
  width: 25%;
  float: left;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.2em;
  margin-left: -.6em;
}
span.uacf7-amount {
  float: right;
}
.ui-state-focus,.ui-widget-content .ui-state-focus{
  color: unset !important;
  border: none !important;
  outline: unset;
}
.uacf7-slider-label{
  display: inline-block;
}
/* Range Style 1 for single handel */

.range_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #3C7EE1 0%, #3C7EE1 50%, #d3d3d3 50%, #d3d3d3 100%);
  outline: none !important;
  opacity: 1;
}

.range_slider_inner {
  margin-right: 7px;
  width: 100%;
}

.range_slider_inner {
  position: relative;
}

.range_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background: #3C7EE1;
  cursor: pointer;
  border: none;
}

.range_slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background: #3C7EE1;
  cursor: pointer;
  border: none;
}

.range_slider_wrap {
  display: flex;
  position: relative;
}

.range_absulate {
  height: 23px;
  width: 40px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 1.2;
  border-radius: 3px;
  display: inline-block;
  margin-top: 3px !important;
}